@import "../../styles/color-palette";



.social_media_layout_body {
    @include themify($themes) {
        background-color: themed("bgOverlay");
        color: themed("textColor");

        &_left_container {
            color: themed("textColor");
            background-color: themed("bg");
            width: 400px;
            overflow-y: scroll;
            padding-block: 1.5em;
            border-radius: 10px;

            .inner_container {
                width: 80%;
                margin: 0 auto;

                &_sub_header {
                    font-size: 18px;
                    font-weight: 500;
                }

                &_header {
                    font-size: 25px;
                    margin: 0;
                }
            }
        }

        &_container {
            width: 85%;
            margin: 0 auto;
            padding-block: 2em;
            display: flex;
            align-items: flex-start;
            gap: 1em;
            
        }
    }

}

.social_media_layout_outlet_container {
    width: 100%;
}