.footer_logo_container {
  text-decoration: none;
  .logo_header {
    font-size: 30px;
  }
}
.footer {
  // background: #f6f9fc;
  background: linear-gradient(45deg, #5CA6CE 52%, #fff 45%);
  padding-bottom: 3em;
  padding-top: 8em;

  &_inner_container {
    width: 90%;
    padding-right: 10em;
    margin: 0 auto;

    &_column {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 3em;
      h5 {
        color: #000;
        font-weight: 500;
        font-size: 1.3rem;
        margin: 0;
      }
      .social_list_item {
        display: flex;
        align-items: center;
        gap: 1rem;

        .social-icon {
          width: 30px !important;
          height: 30px !important;
        }
      }

      .list_item {
        list-style: none;

        a {
          text-decoration: none;
          color: #000;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }

    &_rows {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &_foot {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &_inner_container {
      padding: 0;
      &_rows {
        flex-direction: column;
        gap: 2em;
      }
      &_foot {
        width: 100%;
      }
    }
  }
}