$color-palette-1: (
    primary: #5CA6CE,
    secondary: #F2F6F7,
    accent-primary: #FFCD82,
    accent-secondary:#484848,
    background:#FFFFFF
);

$color-palette-2: (
    primary: #6FA8AA,
    secondary: #F7F6F2,
    accent-primary: #D9C9BA,
    accent-secondary:#2E383F,
    background:#FFFFFF
);

$color-palette-3: (
    primary: #FFC857,
    secondary: #0D98BA,
    accent-primary: #FF6B6B,
    accent-secondary:#363636,
    background:#F5F5F5
);

$color-palette-4: (
    primary: #373F51,
    secondary: #F5F5F5,
    accent-primary: #FF6978,
    accent-secondary:#A8D8EA,
    background:#FFFFFF
);

$color-palette-5: (
    primary: #6D996B,
    secondary: #F8F8F8,
    accent-primary: #D96C06,
    accent-secondary:#A7D3A7,
    background:#FFFFFF
);