@import "../../../../styles/color-palette";


.apartment_mini {
    @include themify($themes) {

        height: 370px;
        border-radius: 10px;
        display: flex;
        border: 1px solid #d1d0cf;
        background-color: themed("bg");
        overflow: hidden;

        &_image_container {
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

            }
        }

        &_text_container {
            flex: 1;
            padding-block: 1em;

            .inner_container {
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                &_top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1em;

                    span {
                        font-size: 14px;
                        display: inline-block;
                        white-space: nowrap;
                        text-transform: uppercase;
                        text-align: center;
                        border-radius: 999px;
                        color: white;
                        letter-spacing: 1px;
                        padding: 5px 12px;
                        line-height: 16px;
                        font-size: 12px;

                    }

                    .verified {
                        background: themed('primary');
                    }

                    .unVerified {
                        background: #76767c;
                    }
                }
            }



            .mid {
                &_heading {
                    margin-bottom: 1em;

                    p {
                        margin: 0;
                        color: #322744;
                    }

                    .amount {
                        font-weight: 700;
                        color: #322744;
                        margin: 0;
                    }
                }

                .info {
                    .name {
                        margin: 0;
                        color: #322744;

                    }

                    .location {
                        color: #76767c;
                        font-size: 14px;
                        line-height: 20px;
                        margin: 0;
                        font-weight: 700;
                    }

                    .description {
                        color: #322744;
                        margin-top: .5em;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 1px;
                    }
                }
            }


            .bottom {
                margin-top: 1em;

                span {
                    font-size: 14px;
                    display: inline-block;
                    white-space: nowrap;
                    text-transform: uppercase;
                    text-align: center;
                    border-radius: 999px;
                    border: 1px solid #76767c;

                    // height: 24px;
                    padding: 5px 12px;
                    line-height: 16px;
                    font-size: 12px;

                }

                .date {
                    color: #76767c;
                    font-size: 12px;
                    text-transform: capitalize;
                }
            }
        }
    }



}