@import "../../../styles/color-palette";

.single_apartment {
    @include themify($themes) {

        &_header {
            &_image {
                width: 100%;
                height: fit-content;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            &_back_button {
                position: absolute;
                top: 10px;
                left: 10px;
                border: 1px solid themed('primary');
                cursor: pointer;
                padding: 1rem 1.5rem;
                background: white;
                outline: none;
                border-radius: 5px;
                color: themed('primary');
                display: flex;
                align-items: center;
                gap: 1em;
            }

            &_tag_container {
                display: flex;
                align-items: center;
                gap: 1em;
                margin-top: 1em;
            }
        }

        &_mid {
            color: #322744;

            .price_range {
                font-size: 22px;
                font-weight: 600;
                margin: .5em 0 0;
            }

            .amount {
                font-weight: 700;
                font-size: 30px;
                margin: .2em 0 .3em;
            }

            .apartment_name {
                font-size: 18px;
                text-transform: capitalize;
                margin: 0;
            }

            .apartment_location {
                margin: 5px 0 10px;
                font-weight: 300;

            }
        }

        &_description {
            color: #322744;
            margin-top: 1em;


            &_heading {
                font-size: 22px;
                font-weight: 700;
                margin: 0;
            }

            &_text {
                margin: .5em 0;
                font-weight: 300;
                width: 90%;
            }
        }

    }
}